// ===== Basic
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: YakuHanMP, "Hiragino Mincho ProN", "Noto Serif JP", "Yu Mincho", YuMincho, serif;
  min-height: 100vh;
  color: #111;
  font-weight: 400;
}
.fx {
  display: flex;
  // &.right {
  // align-items: end;
  // }
}

.to-top {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
    border: 1px solid #999;
    // padding: 12px;
    text-decoration: none;
    border-radius: 50%;
    display: block;
    width: 44px;
    height: 44px;
    background: #fff2;
  }
}
